@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; color: white;}
}
.custom{
    background-color: #15191e;
    margin-bottom: 5vh;
    border-bottom: 1px solid#e2e8f0;
}

ion-toolbar {
    color: white;
    --background: black;
}
ion-content{
    --background: #15191e;
} 
.navbar-light .navbar-brand{
    color: black !important;
    text-align: center;
    
}
h1, h2, h3, h4, h5, h6 {
    color:white;
    font-weight: bold;
    margin: 2em 0px 15px 0px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.3em;
}

h5 {
    font-size: 1em;
}

h6 {
    color: #777777;
    background-color: inherit;
    font-size: 1em;
}

hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}

p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}

code, pre {
    border-radius: 3px;
    background-color: #F8F8F8;
    color: inherit;
}

code {
    border: 1px solid #EAEAEA;
    margin: 0 2px;
    padding: 0 5px;
}

pre {
    border: 1px solid #CCCCCC;
    line-height: 1.25em;
    overflow: auto;
    padding: 6px 10px;
}

pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: #4183C4;
    background-color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container__txt {
    background: #ffffff;
    padding: 48px;
    font-family: "Raleway", sans-serif;
}

.title {
    font-size: 32px;
    margin-bottom: 16px;
    font-weight: 600;
}

.blurb {
    font-size: 18px;
    margin-bottom: 16px;
    color: gray;
    line-height: 1.4;
}

.btn:hover {
    /* https://moustafajazzar.github.io/material-shadows/ */
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}
canvas{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.btn:active {
    /* https://moustafajazzar.github.io/material-shadows/ */
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2),
        0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}

.btn .bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 40px 40px;
    justify-content: space-between;
    opacity: 0.8;
}

.btn .btn__txt {
    position: relative;
    z-index: 5;
    font-size: 14px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}
@media (max-width:600px) {
    .pattern {
    width: 90vw;
    height: 90vw;
    display: grid;
    margin:0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-bottom: 20px;
    border-radius: 10px;
}}

@media (min-width:600px) {
    .pattern {
        width: 500px;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        margin-bottom: 20px;
        border-radius: 10px;
    }
}


.item {
    position: relative;
    --background: #151515;
    border: 0px solid white;
}

.inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: var(--clip);
    background: var(--fg-color);
}
.list-md {
    border-radius: 10px;
    background: #151515;
}
.list-ios {
    border-radius: 10px;
    background: #151515;
}
ion-label,p{
    color: white;
}
ion-tab-bar{
    --background: #151515;
}